@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
* {
  box-sizing: border-box;
}
.container {
  width: 1440px;
  margin-inline: auto;
  position: relative;
}
header {
  position: relative;
}
.top {
  width: 1204vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  position: absolute;
  position: fixed;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  font-size: 600;
  gap: 10px;
}
.hero {
  background-image: url(./images/HeroImage.png);
  width: 1440px;
  height: 773px;
}
.lang {
  background-color: white;
  border-radius: 80%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sign {
  gap: 5px;
}
.main {
  width: 1440px;
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: bebas neue;
}
.pure {
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  opacity: 40%;
}
.await {
  font-weight: 400;
  font-size: 250px;
}
.year {
  font-weight: 600;
  font-size: 84px;
}
