@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 1204px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
nav {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  gap: 10px;
}
.hero {
  background-image: url(./images/HeroImage.png);
  width: 1440px;
  height: 773px;
}
.lang {
  background-color: white;
  border-radius: 80%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sign {
  gap: 5px;
}
.main {
  width: 1440px;
  height: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}
.pure {
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  opacity: 40%;
  font-family: "Hanuman";
}
.await {
  font-weight: 400;
  font-size: 250px;
  font-family: "Hanuman";
}
.year {
  font-weight: 600;
  font-size: 84px;
  font-family: "Hanuman";
}
.gray {
  background-image: url(./images/Location\ image.png);
  width: 1440px;
  height: 512px;
  display: flex;
  justify-content: space-around;
}
.lake {
  background-image: url("./images/Hover\ card\ image\ \(1\).png");
  width: 275.49px;
  height: 370px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  text-align: center;
  font-size: 40px;
  color: white;
}
.lake:hover {
  background-color: darkblue;
  font-size: 45px;
  opacity: 50%;
  cursor: pointer;
}
.monk {
  background-image: url(./images/Untitled.png);
  width: 275.49px;
  height: 370px;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  text-align: center;
  font-size: 40px;
  color: white;
}
.monk:hover {
  background-color: darkblue;
  font-size: 45px;
  opacity: 50%;
  cursor: pointer;
}
.khu {
  background-image: url("./images/Hover\ card\ image\ \(2\).png");
  width: 275.49px;
  height: 370px;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  text-align: center;
  font-size: 40px;
  color: white;
}
.khu:hover {
  background-color: darkblue;
  font-size: 45px;
  opacity: 50%;
  cursor: pointer;
}
.crater {
  background-image: url("./images/Hover\ card\ image.png");
  width: 275.49px;
  height: 370px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  text-align: center;
  font-size: 40px;
  color: white;
}
.crater:hover {
  background-color: darkblue;
  font-size: 45px;
  opacity: 50%;
  cursor: pointer;
}
.pinbros {
  background-image: url("./images/Roadmap\ image.png");
  width: 1440px;
  height: 1022px;
}
.agent {
  width: 1440px;
  height: 85px;
}
.dest {
  width: 1440px;
  height: 85px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "inter";
  font-weight: 600;
  align-items: center;
}
.pack {
  width: 1440px;
  height: 24px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "inter";
  font-weight: 400;
  align-items: center;
}
.bros {
  font-family: "inter";
  display: flex;
  flex-direction: column;
  position: relative;
}
.sukh {
  width: 513px;
  height: 112px;
  background-color: #eee9d9;
  border-radius: 80px;
  border-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "inter";
  font-weight: 500;
  font-size: 24px;
  padding-left: 30px;
  opacity: 70%;
}
.sukh:hover {
  border: 2px solid white;
  cursor: pointer;
}
.ub {
  font-size: 12px;
  font-weight: 400px;
}
.d1 {
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.amo {
  width: 513px;
  height: 112px;
  background-color: #8bb8c1cc;
  border-radius: 80px;
  border-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "inter";
  font-weight: 500;
  font-size: 24px;
  padding-left: 30px;
  position: absolute;
  top: 130px;
}
.amo:hover {
  border: 2px solid white;
  cursor: pointer;
}
.amar {
  font-size: 12px;
  font-weight: 400px;
}
.d2 {
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.togoo {
  width: 513px;
  height: 112px;
  background-color: #aad8d7cc;
  border-radius: 80px;
  border-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "inter";
  font-weight: 500;
  font-size: 24px;
  padding-left: 30px;
  position: absolute;
  top: 260px;
}
.togoo:hover {
  border: 2px solid white;
  cursor: pointer;
}
.khorgo {
  font-size: 12px;
  font-weight: 400px;
}
.d3 {
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.tsag {
  width: 513px;
  height: 112px;
  background-color: #8bc0bdcc;
  border-radius: 80px;
  border-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "inter";
  font-weight: 500;
  font-size: 24px;
  padding-left: 30px;
  position: absolute;
  top: 390px;
}
.tsag:hover {
  border: 2px solid white;
  cursor: pointer;
}
.terkhi {
  font-size: 12px;
  font-weight: 400px;
}
.d4 {
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.gulag {
  width: 513px;
  height: 112px;
  background-color: #97cce0cc;
  border-radius: 80px;
  border-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "inter";
  font-weight: 500;
  font-size: 24px;
  padding-left: 30px;
  position: absolute;
  top: 520px;
}
.gulag:hover {
  border: 2px solid white;
  cursor: pointer;
}
.khuv {
  font-size: 12px;
  font-weight: 400px;
}
.d5 {
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.price {
  background-image: url("./images/Price&Footer\ image.png");
  width: 1440px;
  height: 1120px;
}
